.booking-header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    margin-left: 240px;
    margin-top: 60px;
    position: fixed;
    top: 0;
    left: 0;
    width: 83%;
    z-index: 1000;
    background: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    align-items: center;
}

.header-left p {
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}

.date-section {
    display: flex;
    align-items: center;
    margin-top: 5px;
}

.date-section span {
    font-size: 14px;
    font-weight: bold;
    margin-right: 10px;
}

.header-right {
    display: flex;
    align-items:normal;
    gap: 20px;
}

.header-title {

    margin-right: 70vh;
}

.search-container {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
}

.search-box {
    border: none;
    padding: 8px;
    outline: none;
}

.filter-button {
    border: none;
    background-color: transparent;
    padding: 8px;
    cursor: pointer;
}

.icons button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 18px;
    margin-left: 10px;
}
