.mainUserDetailNav{
    position:fixed;
    top:0;
    right: 0;
    left: 0;
    width:80vw;
    z-index: 1000;
    background-color:#EAF5FB;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 0.8rem;
}

.userDetailsub1{
    display: flex;
    flex-direction: column;
}

.userDetailsub2{
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.s1{
    font-size: 12px;
    opacity: 0.7;  
}

.S2{
    font-size: 15px;
    font-weight:bolder;
}

.icons{
    width: 18px;
    height: 15px;
}