/* TourBooking.css */
.tour-booking-container-h {
  width: 35%;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  margin-top: 25vb;
  margin-left: 130vb;
}

.input-group-h {
  display: flex;
  gap: 20px;
  margin-bottom: 20px;
}

.input-group-h label {
  font-weight: bold;
}

.input-group-h input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.location-input-h {
  display: flex;
  gap: 10px;
  align-items: center;
}

.location-input-h button {
  padding: 5px 10px;
  background-color: blue;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 4px;
}

.destinations-list-h {
  max-height: 150px;
  overflow-y: auto;
  margin: 10px 0;
  border: 1px solid #ccc;
  padding: 5px;
  border-radius: 4px;
}

.destination-item-h {
  background: #f4f4f4;
  padding: 5px;
  margin: 5px 0;
  border-radius: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.remove-btn-h {
  background: red;
  color: white;
  border: none;
  padding: 3px 6px;
  cursor: pointer;
  border-radius: 4px;
}

.summary-h {
  margin-top: 20px;
  padding: 35px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.hh-h {
  margin-top: 20px;
}

.start-date-h {
  margin-left: 50px;
}

.end-date-h {
  margin-left: 40px;
}

.destination-list-h {
  margin-left: 50px;
}

.proceed-button-h {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: blue;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
}
